# Ignore Mac sytem files
.DS_store

# Ignore specific files
osprey/
radhakrishnan_lab/
viamd/
Papers/
Random/
Random_projects/
scp/
work_scripts/other_scripts/oop_toolbox/p1
work_scripts/other_scripts/oop_toolbox/p2
work_scripts/other_scripts/oop_toolbox/p3
work_scripts/other_scripts/oop_toolbox/p4
work_scripts/PEG_charmm36_ljpme_2022
